name: panvimdoc

on: [push]

jobs:
  docs:
    runs-on: ubuntu-latest
    name: pandoc to vimdoc
    steps:
      - uses: actions/checkout@v2
      - name: panvimdoc
        uses: kdheepak/panvimdoc@main
        with:
          vimdoc: substitute-nvim
          description: Neovim plugin introducing a new operator motions to quickly replace text.
          version: 'NVIM v0.6.0'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore: auto generate docs'
          branch: ${{ github.head_ref }}
